.map-container {
  height:80vh;
  min-height: 600px;
  position: relative;
}

#batas-kelurahan {
  width: 100%;
  height: 100%;
}

.toggle-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.form-check-input {
  cursor: pointer;
}

.form-check-label {
  cursor: pointer;
  user-select: none;
}

/* Gaya untuk ikon inventarisasi */
.perhubungan-icon, .pariwisata-icon, .telekomunikasi-icon, .sekolah-non-formal-icon, .kebudayaan-icon {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Bayangan untuk kontras */
}

/* Gaya untuk popup */
.leaflet-popup-content {
  max-width: 250px;
}

.leaflet-popup-content img {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Responsivitas untuk toggle */
@media (max-width: 576px) {
  .toggle-container {
      flex-direction: row;
      justify-content: center;
  }
  .form-check {
      margin: 0.5rem;
  }
}